<!--<div >
    <div class="home_header">
        <img src="../../../assets/img/logo.png" alt="Logo Gama Academy">
    </div>
  
    <div>
        <img src="../../../assets/img/happyhappy.png" class="home__img" alt="Happy woman">
    </div>
    <div class="text-home">
      Gama Bank é um 
      projeto de nossos
      alunos.
      <br><br>
      Já tem conta?
    </div>
    <div class="button">
      <button class="btn btn-access">
        Acessar
        <i class="bi bi-arrow-right"></i>
      </button>
    </div>
</div>-->

<section class="home">
    <header class="home__header">
        <img src="../../../assets/img/logo.png" alt="Logo Gama Academy">
    </header>
    <img src="../../../assets/img/happyhappy.png" class="home__img" alt="Happy woman">
    <section class="home__create-account">
        <div>
            <h1>Gama Bank é um projeto de nossos alunos.</h1>
            <p>Já tem conta?</p>
            <a>Acessar</a>
        </div>
    </section>
</section>
