@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: Roboto-500;
    src: url("./assets/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: Roboto-700;
    src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
}

:root{
    --bg-primary: #8C52E5;
    --bg-primary-dark: #692fc0;
    --bg-secundary: #68DE5A;
    --bg-secundary-dark: #4aac3f;
    --bg-light: #F8F8F8;
    --bg-dark: #000000;
    --bg-medium: #EAEAEA;
    --bg-default: #1783E7;
    --button-disabled: #D8D8D8;
    --white: #FFFFFF;
    --black: #000000;
    --red: #FF000000;
    --gray-dark: #9B9B9B;
    --red: #FF0000;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'arial', sans-serif;
}
